{
  //设置babel转码规则
  "presets": [
    [
      "@babel/preset-env",  // 插件预设, 根据代码执行平台环境和具体浏览器的版本来产出对应的 JavaScript 代码
      {
        "targets": {}, // 这里是targets的配置，根据实际browserslist设置
        "corejs": 3, // 添加core-js版本
        "modules": false, // 模块使用 es modules ，不使用 commonJS 规范
        "useBuiltIns": "usage" // 默认 false, 可选 entry , usage
      }
    ]
  ],
  //插件
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false, // 默认值，可以不写
        "helpers": true, // 默认，可以不写, 表示是否开启内联的babel helpers(即babel或者环境本来的存在的垫片或者某些对象方法函数)在调用模块名字(moduleName)时将被替换名字
        "regenerator": false, // 通过 preset-env 已经使用了全局的 regeneratorRuntime, 不再需要 transform-runtime 提供的 不污染全局的 regeneratorRuntime
        "useESModules": true // 使用 es modules helpers, 减少 commonJS 语法代码
      }
    ]
  ]
}
