@font-face{
	font-family: "myFont";
	src: url("../fonts/fontawesome-webfont.woff") format('woff'),
		 url("../fonts/fontawesome-webfont.woff2") format('woff2');
	font-weight: 600;
	font-style: normal;
}
.wrap{
	color: red;
	font-size: 16px;
	font-family: "myFont"	
}