$vw_base: 375;
@function vw($px) {
  @return ($px / 375) * 100vw;
}

.home-container{
  background-color: #CAC531;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .dog{

  }
  .title{
    margin: 50px 0;
  }
}
