<!DOCTYPE html>
<html>
<head>
  {{!-- 页头部分 --}}
  {{> ../../components/partial/header }}
  <title>首页</title>
</head>
<body>
  <div class="navbar-wrapper">
    <div class="container">
        {{!-- 导航部分 --}}
        {{> ../../components/partial/navbar }}
    </div>
  </div>

  <div>我是模板</div>
</body>
</html>